<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Page</title>
    <link rel="stylesheet" type="text/css" href="public/main.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <form id="main" v-cloak>
        <div class="bar">
            <!-- These two buttons switch the layout variable,
             which causes the correct UL to be shown. -->
            <a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
            <a class="grid-icon" v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'"></a>
        </div>
        <!-- We have two layouts. We choose which one to show depending on the "layout" binding -->
        <div class="container">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <ul v-if="layout == 'grid'" class="grid">
                <!-- A view with big photos and no text -->
                <li v-for="a in articles">
                    <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.large" />
                        <p>{{a.title}}</p>
                        <p style="font-size: small; font-weight: 100;">{{a.description.substring(0, 20) + '...'}}</p>
                    </a>
                </li>
            </ul>
            <ul v-if="layout == 'list'" class="list">
                <!-- A compact view smaller photos and titles -->
                <li v-for="a in articles">
                    <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.small" /></a>
                    <p>{{a.title}}</p>
                    <p style="font-size: small; font-weight: 100;">{{a.description.substring(0, 20) + '...'}}</p>
                </li>
            </ul>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="public/main.js"></script>
</body>

</html>
